.all-package-container{
    font-size: 18px;
    margin: 20px auto;
    text-align: center;
}
.package-container{
    width: 40%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    background-color: #7cdabf;
}