.options-div{
    margin: 20px auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    align-self: flex-start;
}

.option-link{
    display: block;
    width: 60%;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin: 10px auto;
}
.option-link:hover{
    transform: translateY(-5%);
    
}